@using Microsoft.FluentUI.AspNetCore.Components
@page "/"

<PageTitle>Home</PageTitle>

@* <h1 class="font-extrabold text-8xl m-2 text-red-600">Hello, world!</h1> *@

<div class="m-20 flex">
    <FluentCard Width="400px" Height="250px" Class="text-red-600 bg-blue-600 drop-shadow-xl flex-auto">
        <p class="text-4xl text-blue-50">@currentCount</p>
  <FluentButton  Appearance="@Appearance.Accent" OnClick="IncrementCount">Click Me</FluentButton>
</FluentCard>

</div>

@code
{
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

		



